@model Department
@{
    

}


    <h1 class="alert alert-danger">
        are you sure delete deptname : @Model.DeptName
    </h1>
   
    <form  method="post">
        <input asp-for="DeptId" type="hidden" />
        <input type="submit" value="delete" />
    </form>
    <a asp-action="index" >Go to list</a>

