@model Department

@{
    ViewBag.Title = "dept Edit";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Department</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h2 class="alert alert-danger">Edit Department</h2>
    <form asp-action="Edit" method="post">
       
        <input type="hidden" asp-for="DeptId" />

        <div>
            <label asp-for="DeptName">DeptName</label>
            <input asp-for="DeptName" class="form-control" /><br />
        </div>

        <div>
            <label asp-for="Capacity">Capacity</label>
            <input asp-for="Capacity" class="form-control" /><br />
        </div>

        <input type="submit" value="Save" class="btn btn-success" />
        <a href="/department" class="btn btn-primary">Back to List</a>
    </form>
</body>
</html>
