@model Course
@{
    ViewBag.Title = "Course Create";
}

<form action="/course/create" method="post">
    <div class="alert alert-danger" asp-validation-summary="All"></div>
    <label asp-for="CourseId">Course ID</label>
    <input type="text" name="CourseId" />
    <span asp-validation-for="CourseId"></span>
    <br />

    <label asp-for="CourseName">Course Name</label>
    <input type="text" name="CourseName" />
    <span asp-validation-for="CourseName"></span>
    <br />

    <label asp-for="DurationInHours">Duration (Hours)</label>
    <input type="text" name="DurationInHours" />
    <span asp-validation-for="DurationInHours"></span>
    <br />

    <input type="submit" value="Add" />
</form>
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
}




